<app-tabs>
  <app-tab tabTitle="Замінити">
    <p-listbox
      [filter]="true"
      [options]="transports"
      [(ngModel)]="selectedTransport"
      [disabled]="loading"
      optionLabel="label"
      (onDblClick)="updateItem({ transport: selectedTransport })"
    ></p-listbox>

    <button
      [disabled]="!selectedTransport || loading"
      pButton
      pRipple
      type="button"
      label="Зберегти"
      class="p-button-success mt-5"
      (click)="updateItem({ transport: selectedTransport })"
    >
      <p-progressSpinner
        *ngIf="loading"
        strokeWidth="5"
        animationDuration="3s"
        class="mr-2"
        [style]="{width: '20px', height: '20px'}"
      ></p-progressSpinner>
    </button>
  </app-tab>

  <app-tab tabTitle="Додати новий транспорт">
    <form class="grid p-fluid" [formGroup]="form" (ngSubmit)="addTransport()">
      <div class="col-12">
        <label for="type">Тип</label>
        <p-listbox
          [options]="transportTypes"
          inputId="type"
          formControlName="type"
          class="w-full"
        ></p-listbox>
      </div>

      <div class="col-12">
        <label for="name">Номер</label>
        <input
          id="name"
          type="text"
          pInputText
          [inputPattern]="namePattern"
          formControlName="name"
          class="w-full"
        />
      </div>

      <div class="col-12">
        <label for="capacity">Вантажопідйомність, кг</label>
        <input
          id="capacity"
          pInputText
          type="number"
          formControlName="capacity"
          class="w-full"
        />
      </div>

      <div class="col-12">
        <label for="volume">Об’єм вантажного відділення, палети</label>
        <input
          pInputText
          id="volume"
          type="number"
          formControlName="volume"
          class="w-full"
        />
      </div>

      <div class="col-12">
        <p-checkbox formControlName="temperature" [binary]="true" inputId="temperature" class="mr-2"></p-checkbox>
        <label for="temperature">Температурний режим</label>
      </div>

      <div class="col-12">
        <p-checkbox formControlName="regular" [binary]="true" inputId="regular" class="mr-2"></p-checkbox>
        <label for="regular">Регулярність</label>
      </div>

      <div class="col-12">
        <label for="comment">Коментар</label>
        <textarea
          [rows]="5"
          [cols]="30"
          pInputTextarea
          formControlName="comment"
          id="comment"
        ></textarea>
      </div>

      <div class="col-12">
        <button
          [disabled]="!form.valid || loading"
          pButton
          pRipple
          type="submit"
          label="Зберегти"
          class="p-button-success"
        >
          <p-progressSpinner
            *ngIf="loading"
            strokeWidth="5"
            animationDuration="3s"
            class="mr-2"
            [style]="{width: '20px', height: '20px'}"
          ></p-progressSpinner>
        </button>
      </div>
    </form>
  </app-tab>
</app-tabs>
