<med-table
  [data]="data"
  [loading]="loading"
  [config]="tableConfig"
  [tableDataTemplate]="tableDataTemplate"
  [toolbarTemplate]="toolbarTemplate"
>
  <ng-template #toolbarTemplate>
    <button
      pButton
      pRipple
      type="button"
      label="Завантажити шляховий лист"
      icon="pi pi-file-excel"
      class="p-button-rounded p-button-success"
      [disabled]="!selectedIds.length"
      (click)="exportTravelLetter()"
    ></button>
  </ng-template>

  <ng-template #tableDataTemplate let-data let-item="item" let-config="config">
    <ng-container [ngSwitch]="config.key">
      <ng-container *ngSwitchCase="'id'">
        <p-checkbox
            name="ids"
            [value]="data"
            [label]="data"
            [(ngModel)]="selectedIds"
        ></p-checkbox>
      </ng-container>

      <ng-container *ngSwitchCase="'name'">
        <button
          *ngIf="item.items && item.items.length"
          pButton
          class="p-button-text text-left goods-table__btn p-0"
          (click)="openModal(config.modalType, item)"
        >{{ data }}</button>
      </ng-container>

      <button
        *ngSwitchCase="'priority.name'"
        pButton
        class="p-button-text text-900 text-left table__btn p-2"
        [style.backgroundColor]="item.priority.color"
        (click)="openModal(config.modalType, item)"
      >{{ data }}</button>

      <button
        *ngSwitchCase="'additionLength'"
        pButton
        [disabled]="!data"
        [label]="data ? data : '0'"
        class="text-white text-left"
        [style.backgroundColor]="data ? '#23308e' : '#808080'"
        (click)="openModal(config.modalType, item)"
      ></button>
    </ng-container>

    <button
      *ngIf="defaultModalTemplate(config)"
      pButton
      class="p-button-text text-left goods-table__btn p-0"
      (click)="openModal(config.modalType, item)"
    >{{ data }}</button>
  </ng-template>
</med-table>

<p-dialog
  [header]="modalTitle"
  [(visible)]="modalTitle"
  [modal]="modalSettings.modal"
  [style]="modalSettings.style"
  [maximizable]="modalSettings.maximizable"
  [breakpoints]="modalSettings.breakpoints"
>
  <ng-template modalContent></ng-template>
</p-dialog>

<p-toast [baseZIndex]="5000" position="bottom-right"></p-toast>
