<med-table #tableRef [data]="data" [loading]="loading" [config]="tableConfig">
  <ng-template mTemplate="paginator">
    <button
      pButton
      title="Очистити всі фільтри"
      class="p-button-rounded p-button-outlined mr-3"
      icon="pi pi-filter-slash"
      (click)="tableRef.clearFilters()"
    ></button>

    <button
      pButton
      pRipple
      type="button"
      label="Завантажити шляховий лист"
      icon="pi pi-file-excel"
      class="p-button-rounded p-button-success"
      [disabled]="!selectedIds.length"
      (click)="exportTravelLetter()"
    ></button>
  </ng-template>

  <ng-template mTemplate="tableData" let-data let-item="item" let-config="config">
    <ng-container [ngSwitch]="config.key">
      <ng-container *ngSwitchCase="'id'">
        <p-checkbox
          name="ids"
          [value]="data"
          [label]="data"
          [(ngModel)]="selectedIds"
        ></p-checkbox>
      </ng-container>

      <div *ngSwitchCase="'name'" class="flex align-items-center">
        <button
          *ngIf="item.items && item.items.length"
          pButton
          class="p-button-text text-left p-0"
          (click)="openModal(config.modalType, item)"
        >{{ data }}</button>

        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-copy"
          class="p-button-rounded p-button-text p-0 w-2rem h-2rem ml-2"
          (click)="copyToClipboard(data)"
        ></button>
      </div>

      <button
        *ngSwitchCase="'priority.name'"
        pButton
        class="p-button-text text-900 text-left table__btn p-2"
        [disabled]="item.readonly"
        [style.backgroundColor]="item.priority.color"
        (click)="openModal(config.modalType, item)"
      >{{ data }}</button>

      <button
        *ngSwitchCase="'additionLength'"
        pButton
        [disabled]="!data"
        [label]="data ? data : '0'"
        class="text-white text-left"
        [style.backgroundColor]="data ? '#23308e' : '#808080'"
        (click)="openModal(config.modalType, item)"
      ></button>

      <button
        *ngSwitchCase="'btn'"
        pButton
        pRipple
        type="button"
        icon="pi pi-times"
        title="Очистити дані по поставці"
        class="p-button-rounded p-button-danger"
        (click)="clearLogistic(item)"
      ></button>
    </ng-container>

    <button
      *ngIf="defaultModalTemplate(config, item)"
      pButton
      class="p-button-text text-left goods-table__btn p-0"
      (click)="openModal(config.modalType, item)"
    >{{ data }}</button>
  </ng-template>
</med-table>

<p-dialog
  [header]="modalTitle"
  [(visible)]="modalTitle"
  [modal]="modalSettings.modal"
  [style]="modalSettings.style"
  [maximizable]="modalSettings.maximizable"
  [breakpoints]="modalSettings.breakpoints"
>
  <ng-template modalContent></ng-template>
</p-dialog>

<p-toast [baseZIndex]="5000" position="bottom-right"></p-toast>

<p-toast position="center" key="confirm" (onClose)="notification.clearConfirmModal()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{ message.summary }}</h4>
        <p>{{ message.detail }}</p>
      </div>
      <div class="grid p-fluid">
        <div class="col-6">
          <button
            type="button"
            pButton
            label="Так"
            class="p-button-success"
            (click)="onConfirmToClear()"
          ></button>
        </div>
        <div class="col-6">
          <button
            pButton
            type="button"
            label="Ні"
            class="p-button-secondary"
            (click)="notification.clearConfirmModal()"
          ></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>
