.list {
    list-style: none;
    padding: 0;
}

.list__item {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.list__item-title {
    padding: 0 5px 0 0;
    font-weight: bold;
    flex: 0 0 40%;
}

@media screen and (min-width: 960px) {
    .goods-table .p-datatable-header {
        display: none;
    }
}
